# Dependency directories
node_modules/

# Build directories
build/
dist/

# Cache and logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js

# IDE files
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
